<router-outlet></router-outlet>

<a routerLink="mytest" routerLinkActive="active">Show All Tests</a>
<br>
<a routerLink="addtest" routerLinkActive="active">Add Test</a>
<br>


<a routerLink="mydiagnosticCentre" routerLinkActive="active">Show All Diagnostic Centres</a>
<br>
<a routerLink="adddiagnosticcentre" routerLinkActive="active">Add Diagnostic Centre</a>
<br>
<a routerLink="myappointment" routerLinkActive="active">Show All Appointments</a>
<br>
<a routerLink="addappointment" routerLinkActive="active">Add Appointment</a>
<!-- <br>
<a routerLink="updateTest" routerLinkActive="active">Update Test</a> -->